<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: head">
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <div class="container">
        <h1>Rejestracja:</h1>
        <form th:action="@{/register}" method="POST" th:object="${user}">
         
            <input class="form-control" type="text" th:field="*{name}" placeholder="Imię"/>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <br />
            <input class="form-control" type="text" th:field="*{surname}" placeholder="Nazwisko"/>
            <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
            <br />
            <input class="form-control" type="text" th:field="*{login}" placeholder="Login"/>
            <span class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>        
<br />
            <input class="form-control" type="text" th:field="*{email}" placeholder="Email"/>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            
<br />
            <input class="form-control" type="password" th:field="*{password}" placeholder="Hasło"/>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
<br />
            <button class=" btn btn-secondary btn-block" type="submit">Zarejestruj się</button>
        </form>
        </div>
        <div th:include="layout :: footer"></div>
    </body>
</html>
